@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;

}

body {
    width: 100%;
    background-color: rgb(14, 14, 15);
}

h1,h2,p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}


a {
    margin: 5px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(21, 21, 27);
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    transition: 0.3s;
    display:flex;
    justify-content: center;
}

a:hover {
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: end;
}

.int1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.int {
    border-radius: 10px;
    width: 25%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.int2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.int22 {
    border-radius: 10px;
    width: 1000px;
    height: 600px;
    display:flex;
    align-items: top;
    justify-content: center;
    background-color: rgb(21, 21, 27);
}

.links {
    display: flex;
    justify-content: center;
}

.numer {
    border-radius: 10px;
    background-color: rgb(18, 18, 22);
    margin: 20px;
    width: 400px;
    height: 250px;
    justify-content: center;
    text-align: center;
}

.imaget {
    width: 100%;
    height: 600px;
    background: url(https://media.discordapp.net/attachments/763848072068988951/1074071401939603496/Sem_titulo.png) no-repeat 80%;
}